<div class="container text-center padding">
<h1>タスク編集</h1>
<%= form_with model: @task do |f| %>
    <div class="form-group row">
        <label for="title" class="col-form-label col-sm-2">タイトル</label>
        <%= f.text_field :title, class:"form-control col-sm-10" %>
    </div>
    <div class="form-group row">
        <label for="content" class="col-form-label  col-sm-2">内容</label>
        <%= f.text_area :content, class:"form-control col-sm-10" %>
    </div>
    <input type="submit" value=" 送信 " class="btn btn-primary">
<% end %>

<hr>
<%= link_to "一覧画面へ", tasks_path, class:"btn btn-outline-primary" %>
</div>